#board {
 position: relative;
 width: 640;
 height: 640;
}

#canvasBoard {
 position: absolute;
 display: block;
 z-index: 2;
}

#boardSvg {
 position: absolute;
 display: block;
 background-color: #ebedec;
 z-index: 1;
}

.robot {
 visibility: hidden;
 position: absolute;
 z-index: 99;
}

#blueRobot {
 top: 0;
 left: 0;
}

#greenRobot {
 top: 0;
 right: 0;
}

#redRobot {
 top: 600;
 left: 0;
}

#yellowRobot {
 top: 600;
 right: 0;
}

#debugDiv {
  border-style: solid;
  border-width: 2;
}