#board {
  position: absolute;
}

#canvasBoard {
  display:block; 
  background-color: #ebedec;
}

.robot { 
  position: absolute;
}
 #blueRobot {
 top: 0;
 left: 0;
 }
 #greenRobot {
 top: 0;
 right: 0;
 }
  #redRobot {
 top: 600;
 left: 0;
 }
  #yellowRobot {
 top: 600;
 right: 0;
 }
 